In [2]:
pip install pandas matplotlib streamlit

Requirement already satisfied: pandas in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (3.10.1)
Requirement already satisfied: streamlit in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (1.44.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ipf-2025\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\ipf-2025\appdata\roaming\python\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: altair<6,>=4.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (5.29.4)
Requirement already satisfied: pyarrow>=7.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (19.0.1)
Requirement already satisfied: requests<3,>=2.27 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (4.13.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\ipf-2025\appdata\roaming\python\python312\site-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from altair<6,>=4.0->streamlit) (1.35.0)
Requirement already satisfied: colorama in c:\users\ipf-2025\appdata\roaming\python\python312\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: six>=1.5 in c:\users\ipf-2025\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\ipf-2025\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.24.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

df = pd.read_csv("usuarios_ecobici.csv")
df.head()

   id_usuario genero_usuario  edad_usuario  fecha_alta hora_alta
0     1094487          OTHER            35  2024-01-18  09:21:02
1     1097128         FEMALE            21  2024-01-21  23:02:26
2     1102901          OTHER            19  2024-01-29  19:33:32
3     1096100         FEMALE            29  2024-01-20  18:57:05
4     1103049           MALE            21  2024-01-30  00:49:33

In [20]:
print(df.shape)
print(df.columns)
print(df.dtypes)

(197077, 5)
Index(['id_usuario', 'genero_usuario', 'edad_usuario', 'fecha_alta',
       'hora_alta'],
      dtype='object')
id_usuario         int64
genero_usuario    object
edad_usuario       int64
fecha_alta        object
hora_alta         object
dtype: object

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197077 entries, 0 to 197076
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_usuario      197077 non-null  int64
 1   genero_usuario  197077 non-null  object
 2   edad_usuario    197077 non-null  int64
 3   fecha_alta      197077 non-null  object
 4   hora_alta       197077 non-null  object
dtypes: int64(2), object(3)
memory usage: 7.5+ MB
None

In [16]:
df.isnull().sum()

id_usuario        0
genero_usuario    0
edad_usuario      0
fecha_alta        0
hora_alta         0
dtype: int64

# Ver cuantos duplicados hay

In [21]:

print(df.duplicated().sum())

0

# Corregir tipos de datos
Actualmente , fecha_alta y hora_alta estan como object, pero podrian convertirse a tipo de hora y fecha

In [22]:
df['fecha_alta'] = pd.to_datetime(df['fecha_alta'], errors='coerce')
df['hora_alta'] = pd.to_datetime(df['hora_alta'], format='%H:%M:%S', errors='coerce').dt.time

In [25]:
print(df.dtypes)

id_usuario                 int64
genero_usuario            object
edad_usuario               int64
fecha_alta        datetime64[ns]
hora_alta                 object
dtype: object

# Limpiar valores inconsistentes (por ejemplo, en genero_usuario)

In [ ]:
# Ver valores únicos en genero_usuario
print(df['genero_usuario'].unique())

['OTHER' 'FEMALE' 'MALE']

# Proceder a mostrar los valores de una forma mas comun:

In [29]:
# Limpiar y normalizar
df['genero_usuario'] = df['genero_usuario'].str.strip().str.lower()

# Reemplazo por etiquetas estándar en español
df['genero_usuario'] = df['genero_usuario'].replace({
    'male': 'masculino',
    'female': 'femenino',
    'other': 'otro'
})

In [30]:
df.head()

   id_usuario genero_usuario  edad_usuario fecha_alta hora_alta
0     1094487           otro            35 2024-01-18  09:21:02
1     1097128       femenino            21 2024-01-21  23:02:26
2     1102901           otro            19 2024-01-29  19:33:32
3     1096100       femenino            29 2024-01-20  18:57:05
4     1103049      masculino            21 2024-01-30  00:49:33

# Revisar valores extraños en edad

In [49]:
print(df['edad_usuario'].describe().round().astype(int))

count    197007
mean         31
std          12
min           4
25%          21
50%          27
75%          37
max          98
Name: edad_usuario, dtype: int64

# Coloco nombres mas comunes a las columnas y evitando la redundancia

In [51]:
df = df.rename(columns={
    'id_usuario': 'id',
    'genero_usuario': 'genero',
    'edad_usuario': 'edad',
    'fecha_alta': 'fecha',
    'hora_alta': 'hora'
})

In [52]:
df.head()

        id     genero  edad      fecha      hora
0  1094487       otro    35 2024-01-18  09:21:02
1  1097128   femenino    21 2024-01-21  23:02:26
2  1102901       otro    19 2024-01-29  19:33:32
3  1096100   femenino    29 2024-01-20  18:57:05
4  1103049  masculino    21 2024-01-30  00:49:33

# Creamos un nuevo csv con nuestros df limpio

In [53]:
df.to_csv("usuarios_ecobici_limpio.csv", index=False)

In [54]:
df.head()

        id     genero  edad      fecha      hora
0  1094487       otro    35 2024-01-18  09:21:02
1  1097128   femenino    21 2024-01-21  23:02:26
2  1102901       otro    19 2024-01-29  19:33:32
3  1096100   femenino    29 2024-01-20  18:57:05
4  1103049  masculino    21 2024-01-30  00:49:33